* {
	font-family: 'Overpass', 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
}

.title-font {
	font-family: 'Montserrat', sans-serif;
}

body {
	background: #222;
	color: #fff;
}

::selection {
	background: #ff4500;
}

.centertext {
	text-align: center;
}

/* Skeleton Loading */
.loading {
	position: relative;
	overflow: hidden;
}

.loading::before {
	content: '';
	display: block;
	position: absolute;
	left: -150px;
	top: 0;
	height: 100%;
	width: 150px;
	background: linear-gradient(to right, transparent 0%, #333333 50%, transparent 100%);
	animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes load {
	from {
		left: -150px;
	}
	to {
		left: 100%;
	}
}
